/* Color Tokens Light Theme */
:root,
:root[data-theme='light'] {
  --bolt-elements-borderColor: rgba(250, 250, 250, 0.1);
  --bolt-elements-borderColorActive: #8a5fff;

  --bolt-elements-bg-depth-1: #ffffff;
  --bolt-elements-bg-depth-2: #fafafa;
  --bolt-elements-bg-depth-3: #e5e5e5;
  --bolt-elements-bg-depth-4: rgba(250, 250, 250, 0.05);

  --bolt-elements-textPrimary: #0a0a0a;
  --bolt-elements-textSecondary: #525252;
  --bolt-elements-textTertiary: #737373;

  --bolt-elements-code-background: #f5f5f5;
  --bolt-elements-code-text: #0a0a0a;

  --bolt-elements-button-primary-background: rgba(248, 245, 255, 0.1);
  --bolt-elements-button-primary-backgroundHover: rgba(248, 245, 255, 0.2);
  --bolt-elements-button-primary-text: #9c7dff;

  --bolt-elements-button-secondary-background: rgba(250, 250, 250, 0.05);
  --bolt-elements-button-secondary-backgroundHover: rgba(250, 250, 250, 0.1);
  --bolt-elements-button-secondary-text: #0a0a0a;

  --bolt-elements-button-danger-background: rgba(254, 242, 242, 0.1);
  --bolt-elements-button-danger-backgroundHover: rgba(254, 242, 242, 0.2);
  --bolt-elements-button-danger-text: #ef4444;

  --bolt-elements-item-contentDefault: rgba(250, 250, 250, 0.5);
  --blue-400: #0a0a0a;
  --bolt-elements-item-contentAccent: #7645e8;
  --bolt-elements-item-contentDanger: #ef4444;
  --bolt-elements-item-backgroundDefault: rgba(0, 0, 0, 0);
  --bolt-elements-item-backgroundActive: rgba(250, 250, 250, 0.05);
  --bolt-elements-item-backgroundAccent: rgba(248, 245, 255, 0.1);
  --bolt-elements-item-backgroundDanger: rgba(254, 242, 242, 0.1);

  --bolt-elements-loader-background: rgba(250, 250, 250, 0.1);
  --bolt-elements-loader-progress: #9c7dff;

  --bolt-elements-artifacts-background: #ffffff;
  --bolt-elements-artifacts-backgroundHover: rgba(250, 250, 250, 0.02);
  --bolt-elements-artifacts-borderColor: var(--bolt-elements-borderColor);
  --bolt-elements-artifacts-inlineCode-background: #f5f5f5;
  --bolt-elements-artifacts-inlineCode-text: var(--bolt-elements-textPrimary);

  --bolt-elements-actions-background: #ffffff;
  --bolt-elements-actions-code-background: #262626;

  --bolt-elements-messages-background: #f5f5f5;
  --bolt-elements-messages-linkColor: #9c7dff;
  --bolt-elements-messages-code-background: #262626;
  --bolt-elements-messages-inlineCode-background: #e5e5e5;
  --bolt-elements-messages-inlineCode-text: #262626;

  --bolt-elements-icon-success: #22c55e;
  --bolt-elements-icon-error: #ef4444;
  --bolt-elements-icon-primary: #0a0a0a;
  --bolt-elements-icon-secondary: #525252;
  --bolt-elements-icon-tertiary: #737373;

  --bolt-elements-dividerColor: #f5f5f5;

  --bolt-elements-prompt-background: rgba(255, 255, 255, 0.8);

  --bolt-elements-sidebar-dropdownShadow: rgba(250, 250, 250, 0.1);
  --bolt-elements-sidebar-buttonBackgroundDefault: rgba(248, 245, 255, 0.1);
  --bolt-elements-sidebar-buttonBackgroundHover: rgba(248, 245, 255, 0.2);
  --bolt-elements-sidebar-buttonText: #7645e8;

  --bolt-elements-preview-addressBar-background: #f5f5f5;
  --bolt-elements-preview-addressBar-backgroundHover: rgba(250, 250, 250, 0.05);
  --bolt-elements-preview-addressBar-backgroundActive: #ffffff;
  --bolt-elements-preview-addressBar-text: var(--bolt-elements-textSecondary);
  --bolt-elements-preview-addressBar-textActive: var(--bolt-elements-textPrimary);

  --bolt-elements-terminals-background: #ffffff;
  --bolt-elements-terminals-buttonBackground: var(--bolt-elements-bg-depth-4);

  --bolt-elements-cta-background: #f5f5f5;
  --bolt-elements-cta-text: #0a0a0a;

  /* Terminal Colors */
  --bolt-terminal-background: var(--bolt-elements-terminals-background);
  --bolt-terminal-foreground: #333333;
  --bolt-terminal-selection-background: #00000040;
  --bolt-terminal-black: #000000;
  --bolt-terminal-red: #cd3131;
  --bolt-terminal-green: #00bc00;
  --bolt-terminal-yellow: #949800;
  --bolt-terminal-blue: #0451a5;
  --bolt-terminal-magenta: #bc05bc;
  --bolt-terminal-cyan: #0598bc;
  --bolt-terminal-white: #555555;
  --bolt-terminal-brightBlack: #686868;
  --bolt-terminal-brightRed: #cd3131;
  --bolt-terminal-brightGreen: #00bc00;
  --bolt-terminal-brightYellow: #949800;
  --bolt-terminal-brightBlue: #0451a5;
  --bolt-terminal-brightMagenta: #bc05bc;
  --bolt-terminal-brightCyan: #0598bc;
  --bolt-terminal-brightWhite: #a5a5a5;

  --light: rgba(0, 0, 0, 0.1);
  --text-primary: #000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --message-container: rgb(255, 255, 255);
  --dropdown: rgba(255, 255, 255, 0.78);
  --dropdown-backdrop: 50px;
  --layer-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --tabs-transition: 0.2s ease-in-out;
  --text-blue: rgb(59 130 246);
  --link-color: rgb(59 130 246);
  --accent: rgb(245, 245, 245);

  --vscode-code-background: #fff;
  --vscode-background: #fff;
}

/* Color Tokens Dark Theme */
:root,
:root[data-theme='dark'] {
  --bolt-elements-borderColor: rgba(255, 255, 255, 0.1);
  --bolt-elements-borderColorActive: #9c7dff;

  --bolt-elements-bg-depth-1: #0a0a0a;
  --bolt-elements-bg-depth-2: #171717;
  --bolt-elements-bg-depth-3: #262626;
  --bolt-elements-bg-depth-4: rgba(255, 255, 255, 0.05);

  --bolt-elements-textPrimary: #ffffff;
  --bolt-elements-textSecondary: #a3a3a3;
  --bolt-elements-textTertiary: #737373;

  --bolt-elements-code-background: #262626;
  --bolt-elements-code-text: #ffffff;

  --bolt-elements-button-primary-background: rgba(248, 245, 255, 0.1);
  --bolt-elements-button-primary-backgroundHover: rgba(248, 245, 255, 0.2);
  --bolt-elements-button-primary-text: #9c7dff;

  --bolt-elements-button-secondary-background: rgba(255, 255, 255, 0.05);
  --bolt-elements-button-secondary-backgroundHover: rgba(255, 255, 255, 0.1);
  --bolt-elements-button-secondary-text: #ffffff;

  --bolt-elements-button-danger-background: rgba(254, 242, 242, 0.1);
  --bolt-elements-button-danger-backgroundHover: rgba(254, 242, 242, 0.2);
  --bolt-elements-button-danger-text: #ef4444;

  --bolt-elements-item-contentDefault: rgba(255, 255, 255, 0.5);
  --blue-400: #ffffff;
  --bolt-elements-item-contentAccent: #9c7dff;
  --bolt-elements-item-contentDanger: #ef4444;
  --bolt-elements-item-backgroundDefault: rgba(255, 255, 255, 0);
  --bolt-elements-item-backgroundActive: rgba(255, 255, 255, 0.1);
  --bolt-elements-item-backgroundAccent: rgba(248, 245, 255, 0.1);
  --bolt-elements-item-backgroundDanger: rgba(254, 242, 242, 0.1);

  --bolt-elements-loader-background: rgba(250, 250, 250, 0.1);
  --bolt-elements-loader-progress: #9c7dff;

  --bolt-elements-artifacts-background: #171717;
  --bolt-elements-artifacts-backgroundHover: rgba(255, 255, 255, 0.05);
  --bolt-elements-artifacts-borderColor: var(--bolt-elements-borderColor);
  --bolt-elements-artifacts-inlineCode-background: #262626;
  --bolt-elements-artifacts-inlineCode-text: #ffffff;

  --bolt-elements-actions-background: #171717;
  --bolt-elements-actions-code-background: #262626;

  --bolt-elements-messages-background: #262626;
  --bolt-elements-messages-linkColor: #9c7dff;
  --bolt-elements-messages-code-background: #171717;
  --bolt-elements-messages-inlineCode-background: #404040;
  --bolt-elements-messages-inlineCode-text: var(--bolt-elements-textPrimary);

  --bolt-elements-icon-success: #4ade80;
  --bolt-elements-icon-error: #f87171;
  --bolt-elements-icon-primary: #0a0a0a;
  --bolt-elements-icon-secondary: #525252;
  --bolt-elements-icon-tertiary: #737373;

  --bolt-elements-dividerColor: #f5f5f5;

  --bolt-elements-prompt-background: rgba(163, 163, 163, 0.8);

  --bolt-elements-sidebar-dropdownShadow: rgba(163, 163, 163, 0.3);
  --bolt-elements-sidebar-buttonBackgroundDefault: rgba(248, 245, 255, 0.1);
  --bolt-elements-sidebar-buttonBackgroundHover: rgba(248, 245, 255, 0.2);
  --bolt-elements-sidebar-buttonText: #9c7dff;

  --bolt-elements-preview-addressBar-background: var(--bolt-elements-bg-depth-1);
  --bolt-elements-preview-addressBar-backgroundHover: rgba(255, 255, 255, 0.05);
  --bolt-elements-preview-addressBar-backgroundActive: var(--bolt-elements-bg-depth-1);
  --bolt-elements-preview-addressBar-text: var(--bolt-elements-textSecondary);
  --bolt-elements-preview-addressBar-textActive: var(--bolt-elements-textPrimary);

  --bolt-elements-terminals-background: var(--bolt-elements-bg-depth-1);
  --bolt-elements-terminals-buttonBackground: var(--bolt-elements-bg-depth-3);

  --bolt-elements-cta-background: rgba(255, 255, 255, 0.1);
  --bolt-elements-cta-text: #ffffff;

  /* Terminal Colors */
  --bolt-terminal-background: var(--bolt-elements-terminals-background);
  --bolt-terminal-foreground: #eff0eb;
  --bolt-terminal-selection-background: #97979b33;
  --bolt-terminal-black: #000000;
  --bolt-terminal-red: #ff5c57;
  --bolt-terminal-green: #5af78e;
  --bolt-terminal-yellow: #f3f99d;
  --bolt-terminal-blue: #57c7ff;
  --bolt-terminal-magenta: #ff6ac1;
  --bolt-terminal-cyan: #9aedfe;
  --bolt-terminal-white: #f1f1f0;
  --bolt-terminal-brightBlack: #686868;
  --bolt-terminal-brightRed: #ff5c57;
  --bolt-terminal-brightGreen: #5af78e;
  --bolt-terminal-brightYellow: #f3f99d;
  --bolt-terminal-brightBlue: #57c7ff;
  --bolt-terminal-brightMagenta: #ff6ac1;
  --bolt-terminal-brightCyan: #9aedfe;
  --bolt-terminal-brightWhite: #f1f1f0;

  --background: rgb(13, 13, 13);

  --light: rgba(255, 255, 255, 0.1);
  --text-primary: #fff;
  --text-secondary: #b4b4b4;
  --message-container: rgba(31, 31, 31);
  --dropdown: rgba(33, 33, 33, 0.4);
  --text-blue: rgb(147, 197, 253);

  --accent: rgb(38, 38, 38);

  /* vs code  */

  --vscode-code-background: #1e1e1e;
  --vscode-background: #181818;
}

/*
 * Element Tokens
 *
 * Hierarchy: Element Token -> (Element Token | Color Tokens) -> Primitives
 */
:root {
  --header-height: 54px;
  // --chat-max-width: 37rem;
  // --chat-min-width: 640px;
  // --workbench-width: min(calc(100% - var(--chat-min-width)), 2536px);
  // --workbench-inner-width: var(--workbench-width);
  // --workbench-left: calc(100% - var(--workbench-width));

  --chat-min-width: 400px; /* Minimum width for the chat panel */
  --chat-max-width: 512px; /* Maximum width for the chat panel */
  --chat-width: clamp(var(--chat-min-width), 35dvw, var(--chat-max-width));
  --workbench-width: calc(100% - var(--chat-max-width));
  --workbench-inner-width: var(--workbench-width);
  --workbench-left: calc(var(--chat-max-width));

  --layer-transition:cubic-bezier(0.4, 0, 0.2, 1)

  /* Toasts */
  --toastify-color-progress-success: var(--bolt-elements-icon-success);
  --toastify-color-progress-error: var(--bolt-elements-icon-error);

  /* Terminal */
  --bolt-elements-terminal-backgroundColor: var(--bolt-terminal-background);
  --bolt-elements-terminal-textColor: var(--bolt-terminal-foreground);
  --bolt-elements-terminal-cursorColor: var(--bolt-terminal-foreground);
  --bolt-elements-terminal-selection-backgroundColor: var(--bolt-terminal-selection-background);
  --bolt-elements-terminal-color-black: var(--bolt-terminal-black);
  --bolt-elements-terminal-color-red: var(--bolt-terminal-red);
  --bolt-elements-terminal-color-green: var(--bolt-terminal-green);
  --bolt-elements-terminal-color-yellow: var(--bolt-terminal-yellow);
  --bolt-elements-terminal-color-blue: var(--bolt-terminal-blue);
  --bolt-elements-terminal-color-magenta: var(--bolt-terminal-magenta);
  --bolt-elements-terminal-color-cyan: var(--bolt-terminal-cyan);
  --bolt-elements-terminal-color-white: var(--bolt-terminal-white);
  --bolt-elements-terminal-color-brightBlack: var(--bolt-terminal-brightBlack);
  --bolt-elements-terminal-color-brightRed: var(--bolt-terminal-brightRed);
  --bolt-elements-terminal-color-brightGreen: var(--bolt-terminal-brightGreen);
  --bolt-elements-terminal-color-brightYellow: var(--bolt-terminal-brightYellow);
  --bolt-elements-terminal-color-brightBlue: var(--bolt-terminal-brightBlue);
  --bolt-elements-terminal-color-brightMagenta: var(--bolt-terminal-brightMagenta);
  --bolt-elements-terminal-color-brightCyan: var(--bolt-terminal-brightCyan);
  --bolt-elements-terminal-color-brightWhite: var(--bolt-terminal-brightWhite);
}

.layer-transition {
  transition: var(--layer-transition);
  animation-duration: 200ms;
  transition-duration: 200ms;
}

* {
  scrollbar-color: var(--accent) transparent;
}
