:root {
  --cm-backgroundColor: var(--webai-elements-editor-backgroundColor, var(--webai-elements-bg-depth-1));
  --cm-textColor: var(--webai-elements-editor-textColor, var(--webai-elements-textPrimary));

  /* Gutter */

  --cm-gutter-backgroundColor: var(--webai-elements-editor-gutter-backgroundColor, var(--cm-backgroundColor));
  --cm-gutter-textColor: var(--webai-elements-editor-gutter-textColor, var(--webai-elements-textSecondary));
  --cm-gutter-activeLineTextColor: var(--webai-elements-editor-gutter-activeLineTextColor, var(--cm-gutter-textColor));

  /* Fold Gutter */

  --cm-foldGutter-textColor: var(--webai-elements-editor-foldGutter-textColor, var(--cm-gutter-textColor));
  --cm-foldGutter-textColorHover: var(--webai-elements-editor-foldGutter-textColorHover, var(--cm-gutter-textColor));

  /* Active Line */

  --cm-activeLineBackgroundColor: var(--webai-elements-editor-activeLineBackgroundColor, rgba(224, 231, 235, 0.3));

  /* Cursor */

  --cm-cursor-width: 2px;
  --cm-cursor-backgroundColor: var(--webai-elements-editor-cursorColor, var(--webai-elements-textSecondary));

  /* Matching Brackets */

  --cm-matching-bracket: var(--webai-elements-editor-matchingBracketBackgroundColor, rgba(50, 140, 130, 0.3));

  /* Selection */

  --cm-selection-backgroundColorFocused: var(--webai-elements-editor-selection-backgroundColor, #42b4ff);
  --cm-selection-backgroundOpacityFocused: var(--webai-elements-editor-selection-backgroundOpacity, 0.3);
  --cm-selection-backgroundColorBlured: var(--webai-elements-editor-selection-inactiveBackgroundColor, #c9e9ff);
  --cm-selection-backgroundOpacityBlured: var(--webai-elements-editor-selection-inactiveBackgroundOpacity, 0.3);

  /* Panels */

  --cm-panels-borderColor: var(--webai-elements-editor-panels-borderColor, var(--webai-elements-borderColor));

  /* Search */

  --cm-search-backgroundColor: var(--webai-elements-editor-search-backgroundColor, var(--cm-backgroundColor));
  --cm-search-textColor: var(--webai-elements-editor-search-textColor, var(--webai-elements-textSecondary));
  --cm-search-closeButton-backgroundColor: var(--webai-elements-editor-search-closeButton-backgroundColor, transparent);

  --cm-search-closeButton-backgroundColorHover: var(
    --webai-elements-editor-search-closeButton-backgroundColorHover,
    var(--webai-elements-item-backgroundActive)
  );

  --cm-search-closeButton-textColor: var(
    --webai-elements-editor-search-closeButton-textColor,
    var(--webai-elements-item-contentDefault)
  );

  --cm-search-closeButton-textColorHover: var(
    --webai-elements-editor-search-closeButton-textColorHover,
    var(--blue-400)
  );

  --cm-search-button-backgroundColor: var(
    --webai-elements-editor-search-button-backgroundColor,
    var(--webai-elements-item-backgroundDefault)
  );

  --cm-search-button-backgroundColorHover: var(
    --webai-elements-editor-search-button-backgroundColorHover,
    var(--webai-elements-item-backgroundActive)
  );

  --cm-search-button-textColor: var(--webai-elements-editor-search-button-textColor, var(--webai-elements-textSecondary));

  --cm-search-button-textColorHover: var(
    --webai-elements-editor-search-button-textColorHover,
    var(--webai-elements-textPrimary)
  );

  --cm-search-button-borderColor: var(--webai-elements-editor-search-button-borderColor, transparent);
  --cm-search-button-borderColorHover: var(--webai-elements-editor-search-button-borderColorHover, transparent);

  --cm-search-button-borderColorFocused: var(
    --webai-elements-editor-search-button-borderColorFocused,
    var(--webai-elements-borderColorActive)
  );

  --cm-search-input-backgroundColor: var(--webai-elements-editor-search-input-backgroundColor, transparent);
  --cm-search-input-textColor: var(--webai-elements-editor-search-input-textColor, var(--webai-elements-textPrimary));
  --cm-search-input-borderColor: var(--webai-elements-editor-search-input-borderColor, var(--webai-elements-borderColor));

  --cm-search-input-borderColorFocused: var(
    --webai-elements-editor-search-input-borderColorFocused,
    var(--webai-elements-borderColorActive)
  );

  /* Tooltip */

  --cm-tooltip-backgroundColor: var(--webai-elements-editor-tooltip-backgroundColor, var(--cm-backgroundColor));
  --cm-tooltip-textColor: var(--webai-elements-editor-tooltip-textColor, var(--webai-elements-textPrimary));

  --cm-tooltip-backgroundColorSelected: var(
    --webai-elements-editor-tooltip-backgroundColorSelected,
    #E1D6FF
  );

  --cm-tooltip-textColorSelected: var(
    --webai-elements-editor-tooltip-textColorSelected,
    var(--webai-elements-textPrimary)
  );

  --cm-tooltip-borderColor: var(--webai-elements-editor-tooltip-borderColor, var(--webai-elements-borderColor));

  --cm-searchMatch-backgroundColor: var(--webai-elements-editor-searchMatch-backgroundColor, rgba(234, 92, 0, 0.33));
}

html[data-theme='light'] {
  --webai-elements-editor-gutter-textColor: #237893;
  --webai-elements-editor-gutter-activeLineTextColor: var(--webai-elements-textPrimary);
  --webai-elements-editor-foldGutter-textColorHover: var(--webai-elements-textPrimary);
  --webai-elements-editor-activeLineBackgroundColor: rgba(50, 53, 63, 0.05);
  --webai-elements-editor-tooltip-backgroundColorSelected: #F0EBFF;
  --webai-elements-editor-search-button-backgroundColor: #F5F5F5;
  --webai-elements-editor-search-button-backgroundColorHover: #FAFAFA1A;
}

html[data-theme='dark'] {
  --cm-backgroundColor: var(--webai-elements-bg-depth-2);
  --webai-elements-editor-gutter-textColor: var(--webai-elements-textTertiary);
  --webai-elements-editor-gutter-activeLineTextColor: var(--webai-elements-textSecondary);
  --webai-elements-editor-selection-inactiveBackgroundOpacity: 0.3;
  --webai-elements-editor-activeLineBackgroundColor: rgba(50, 53, 63, 0.5);
  --webai-elements-editor-foldGutter-textColorHover: var(--webai-elements-textPrimary);
  --webai-elements-editor-matchingBracketBackgroundColor: rgba(66, 180, 255, 0.3);
  --webai-elements-editor-search-button-backgroundColor: #262626;
  --webai-elements-editor-search-button-backgroundColorHover: rgba(255, 255, 255, 0.1);
}
